#homeHeader {
  min-height: 200px;
  position: relative;
  background: url(../../../../images/lights.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
  color: white;

  & > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.7);
  }
}