#portItems {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  & > div {
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }
}

.collapsible {
  border-top: 0.3px solid rgba($color: #555, $alpha: 1.0);
}

@media (min-width: 1199px) {
  #portItems {
    
    
    & > div {
      padding: 2.38rem 0 !important;
    }
  }
}